<div class="row">
	<div class="col-lg-8 col-md-8 col-sm-12">
	{% for post in paginator.posts %}
            <div class="blog-item mt-30">
                {% if post.post_image %}
                <div class="blog-thumb">
                    <a href="{{post.url}}"><img src="{{ post.post_image | relative_url }}" alt="{{post.title}}"></a>
                </div>
                {% endif %}
                <div class="blog-content">
                    <ul>
                        {% if post.author %}
                        <li><i class="fal fa-user"></i> {{post.author}}</li>
                        {% endif %}
                        {% if post.date %}
                         <li><i class="fal fa-calendar-alt"></i> {{post.date | date_to_long_string}}</li>
                        {% endif %}
                    </ul>
                    <h3 class="title"><a href="{{post.url}}">{{post.title}}</a></h3>
                    <p>{{post.excerpt | strip_html | truncatewords: "25"}}</p>
                    <a href="{{post.url}}">View Details <i class="fal fa-long-arrow-right"></i></a>
                </div>
            </div>
			{% endfor %} {% include paginator.html %}
        </div>
	
    <div class="col-md-4">{% include sidebar.html %}</div>
  </div>
  
